@model Client.ViewModels.AccountResetPasswordVM

@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "_LayoutLogin";
}

<div class="limiter">
    <div class="container-login100" style="background-image: url('/Login/images/bg-01.jpg');">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
            <form asp-action="ForgotPassword" class="login100-form validate-form">
                <span class="login100-form-title p-b-49">
                    Forgot Password
                </span>

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="wrap-input100 validate-input m-b-23 text-danger">
                    <label class="label-input100">Email</label>
                    <input asp-for="Email" id="form3Example3" class="input100"
                           placeholder="Enter a valid Email" />
                    <span asp-validation-for="Email" class="focus-input100" data-symbol="&#xf206;"></span>
                </div>

                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn" value="Create" type="submit">
                            Submit
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center mx-4 mb-1">
    <a asp-controller="Account" asp-action="Logins"><span>&#8592;</span> Back to home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
