@model Client.Models.Payment

@{
    ViewData["Title"] = "Edit";
}

<hr class="mt-100">
<div class="row d-flex justify-content-center">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="Guid" class="control-label"></label>
                <input asp-for="Guid" class="form-control" />
                <span asp-validation-for="Guid" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="UserGuid" class="control-label"></label>
                <input asp-for="UserGuid" class="form-control" />
                <span asp-validation-for="UserGuid" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="EventGuid" class="control-label"></label>
                <input asp-for="EventGuid" class="form-control" />
                <span asp-validation-for="EventGuid" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="Invoice" class="control-label"></label>
                <input asp-for="Invoice" class="form-control" />
                <span asp-validation-for="Invoice" class="text-danger"></span>
            </div>
            <div class="d-flex justify-content-center">
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IsValid" /> @Html.DisplayNameFor(model => model.IsValid)
                    </label>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>

        </form>
    </div>
</div>

<div class="d-flex justify-content-center mt-10">
    <a href="javascript:history.back();" class="btn btn-primary">Back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
