<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="~/images/logo/spark-logo.png" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/Register/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="~/Register/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="~/Register/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/Register/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="~/Register/css/main.css" rel="stylesheet" media="all">
  
</head>
<body>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

   @* <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - WebApplication1 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/wow.min.js" asp-append-version="true"></script>
    <script src="~/js/tiny-slider.js" asp-append-version="true"></script>
    <script src="~/js/glightbox.min.js" asp-append-version="true"></script>
    <script src="~/js/count-up.min.js" asp-append-version="true"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>*@

    <script src="~/Register/vendor/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="~/Register/vendor/select2/select2.min.js"></script>
    <script src="~/Register/vendor/datepicker/moment.min.js"></script>
    <script src="~/Register/vendor/datepicker/daterangepicker.js"></script>

    <!-- Main JS-->
    <script src="~/Register/js/global.js"></script>
    <script src="~/Login/js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
