@using System.Security.Claims;
@model Client.Models.User

@{
    ViewData["Title"] = "Edit Account";
    Layout = "_LayoutRegister";


    var username = User.Identity.Name;
    string customClaimType = "GuidValue";
    Claim guidClaim = User.Claims.FirstOrDefault(c => c.Type == customClaimType);
    Guid? guidValue = null;

    if (guidClaim != null && Guid.TryParse(guidClaim.Value, out Guid parsedGuid))
    {
        guidValue = parsedGuid;
    }
}

<div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins" style="background-image: url('/Login/images/bg-01.jpg'); background-repeat: no-repeat;
    background-position: center;
    background-size: cover;">
    <div class="wrapper wrapper--w680">
        <div class="card card-4">
            <div class="card-body">
                <h2 class="title">Edit Account</h2>
                <form asp-action="Edit" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row row-space">
                        <div class="col-2">
                            <div class="input-group" hidden>
                                <label asp-for="Guid" class="label"></label>
                                <input asp-for="Guid" value="@Model.Guid"class="input--style-4" type="text" />
                                <span asp-validation-for="Guid" class="text-danger"></span>
                            </div>
                            <div class="input-group">
                                <label asp-for="FirstName" class="label"></label>
                                <input asp-for="FirstName" class="input--style-4" type="text" />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">Last Name</label>
                                <input asp-for="LastName" class="input--style-4" type="text" />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row row-space">
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">Birthday</label>
                                <div class="input-group-icon">
                                    <input asp-for="BirthDate" class="form-control" />
                                    <span asp-validation-for="BirthDate" class="text-danger"></span>

                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">Gender</label>
                                <div class="p-t-10">
                                    <label class="radio-container m-r-45">
                                        Male
                                        <input type="radio" id="male" name="Gender" value="male" asp-for="Gender" />
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="radio-container">
                                        Female
                                        <input type="radio" id="female" name="Gender" value="female" asp-for="Gender" />
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row row-space">
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">Email</label>
                                <input asp-for="Email" class="input--style-4" type="email" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">Phone Number</label>
                                <input asp-for="PhoneNumber" class="input--style-4" type="text" />
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row row-space">
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">Username</label>
                                <input asp-for="Username" class="input--style-4" type="text" />
                                <span asp-validation-for="Username" class="text-danger"></span>
                            </div>
                        </div>
                    </div>


                    <div class="p-t-15 mb-5">
                        <button class="btn btn--radius-2 btn--blue" type="submit" value="Save">Submit</button>
                    </div>

                    <div class="d-flex justify-content-center mx-4 mb-1">
                        <a href="/User/Detail/@guidValue" class="back-link"><span>&#8592;</span> Back</a>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
